/*==========================================================
    General styles
==========================================================*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;}

.logo{
    position: relative;
    text-shadow: 2px 2px 3px black;
    color: gray;
    line-height: 0.8em;
}


/*==========================================================
    Header Login Page styles
==========================================================*/
.login-form {
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
}

.headerButtons{

}


/*==========================================================
    Main Content styles
==========================================================*/



/*==========================================================
    Admin styles
==========================================================*/

/*========
Admin - Main
 ========*/
.adminClients{

}

.adminMemos{

}

/*========
Admin - Clients
 ========*/
.activationPrompt{

}

.inactiveUsers{

}

.client-list{

}


/*========
Admin - Memo
 ========*/
.memo{

}

/*==========================================================
    Button styles
==========================================================*/
.logout-btn{

}

.go-back{

}



/*==========================================================
    Add User styles
==========================================================*/



/*==========================================================
    Footer styles
==========================================================*/
.btn-help{
    background-color: rgba(100,100,100,50);
}