/*==========================================================
    General styles
==========================================================*/
html{
    height: 100%;
    }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: #CFC1B5;
    position: relative;
    /*width: 100%;*/
    align-items: center;

    margin-top: 0px;
    background: url('https://i.imgur.com/66gUmQQ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    height: 68%;
    max-width: 100%;
    margin-bottom: 0px;


}

.logo{
    text-shadow: 2px 2px 3px black;
    color: gray;
    line-height: 0.8em;
    vertical-align: baseline;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;




}

.logo.text-center{
    margin-top: 160px;
}

h4{
 color: #E5D6C9;

}

input[type=checkbox]{
    display : inline-block;


}
/*==========================================================
    Header Login Page styles
==========================================================*/
.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    color: #CFC1B5;
}

.login{
    background: rgba(0,0,0,0.4);
}

input.form-control, textarea.form-control {
    border-radius: 1px;
    border-color: #CFC1B5;
    box-shadow:  1px 1px 2px black;
    padding: 2px 1px;
    width:97.99%;
}

.login-password input{
    letter-spacing: 1.5px;
}




/*==========================================================
    Main Content styles
==========================================================*/
.navigation{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;

    max-width: 15%;
    color: #CFC1B5;



}

.unset-mp{
    margin: 0;
    padding: 0;
}

.bold{
    font-weight:bold;
}

.navigation ul li{
    display: inline;
    justify-content: space-between;
}

.mainNav{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 10px;
    padding: 8px 100px;

}

.page-title{
    margin: 10px 0;
    text-align: center;
    font-weight: bolder;
}

table, td, th {
    width: 100%;
    border: 2px solid black;
    table-layout: fixed;
}

tr{
    background: rgba(1,1,1,0.5);
    color: #ffffff;
}
.tableflex{
    display: flex;
    justify-content: center;
}

.clients-show-hide-contact{
    margin-bottom: 20px;
}

.table-contact{
    max-width: 1000px;
}

.wrapper a{
    align-items: center;
    align-content: center;
}

a{

    font: bold 16px Arial;
    text-decoration: none;
    background-color: #CFC1B5;
    color: #444;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;

}
input{
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #fff;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;
}

ol, ul{
    list-style: none;

}


/*==========================================================
    Development styles
==========================================================*/

.listProjects{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
}


.projectList{

    display: flex;
}




/*==========================================================
    admin styles
==========================================================*/
#myInput {
    /*background-image: url('searchicon.png'); /* Add a search icon to input */
    /*background-position: 10px 12px; /* Position the search icon */
    /*background-repeat: no-repeat; /* Do not repeat the icon image */
    background-color: #d8c9ba;

    border-color: #444;
    border-style:outset;
    color: #444;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    /*border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
/*========
admin - Main
 ========*/


/*========
admin - Clients
 ========*/


/*==========================================================
    Memo styles
==========================================================*/
.memo{
    display: flex;
    align-content: center;
    align-self: center;
    height: 360px;
    position: absolute;
    left: 42%;
    right: 78%;
}


.editmemo{
    padding: 20px 20px 23em 20px;
    border-radius: 10px;
    margin-right: 100px;
    background: rgba(1,1,1,0.4);
}

.editmemo form{
    display: table-caption;
}

.editmemo label{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.editmemo textarea{
    min-width: 900px;
    background-color: #d8c9ba;
    border-color: #444;
    border-style: outset;
}

.list-projects-memo{
    max-width: 200px;
    max-height: 150px;
    overflow-y: auto;
    text-align: center;
}
.list-projects-memo ul li{
    background: rgba(1,1,1,0.4);
    padding: 0 10px;
}

.list-projects-memo::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.list-projects-memo::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 6px;
}
.list-projects-memo::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.4)
}

.submit-form-memo{
    margin-bottom: 0;
}

.form-group-text-memo{
    margin-bottom: 5px;
}

/*==========================================================
    Button styles
==========================================================*/

.btn-primary {

    background: #CFC1B5;
    border: 0px;
    border-radius: 0px;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;

    font: bold 16px Arial;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;

}



.help-btn{
    display: flex;
    justify-content: space-between;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;





}


.ltr{
    direction: rtl;

}





/*==========================================================
    Finance styles
==========================================================*/
.columnLeft{ float: left; width: 50%; }

.columnRight{float: right; width: 50%; }

.clientsFinance{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;}



/*==========================================================
    Sales styles
==========================================================*/
.spacer{
    padding-bottom: 20px
}

.uni-nav{
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.uni-nav ul{
    padding: 20px;
    text-align: center;
    background: rgba(1,1,1,0.5);
    border-radius: 10px;
}
.uni-nav-clients{
    min-width: 260px;
}



.showHideClients {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.client-list {
    height: 340px;
    /* overflow: auto; */
    /*overflow-x: hidden;*/
    display: flex;
    justify-content: center;
}

.client-list ul{
    min-width: 260px;
    margin-bottom: 0;
    overflow-y: auto;
}

.client-list-ul::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    text-align: center;
}
 .client-list-ul::-webkit-scrollbar-thumb {
     background: rgba(0,0,0,0.4);
     border-radius: 6px;
 }
.client-list-ul::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.4)
}

.client-list ul li{
    padding: 0 28px;
    background: rgba(1,1,1,0.5);
}
.form-group-add{
    margin: 5px 0;
}

.form-group-add label{
    color: #ffffff;
}

.clients-show-hide ul{
    margin-left: 45px;
}
.client-list-contact{
    height: 100%;
    /* overflow: auto; */
    overflow-x: hidden;
    max-width: 300px;
    overflow-y: auto;

}
.client-list-contact ul{
    margin: 0;
    padding: 0;
}

.listprojects{
    background: rgba(1,1,1,0.5);
    max-width: 300px;
    height: 150px;
    overflow-y: auto;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 42%;
    right: 78%;
}

.set-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.listprojects h3{
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.7px;
}

.client-list-contact ul li{
    background: rgba(1,1,1,0.5);
}

.client-list-contact::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.client-list-contact::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 6px;
}
.client-list-contact::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.4)
}


.add-client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    margin-top: 20px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.add-client textarea{
    height: 200px;
    width: 227px;
}



form.add-client{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/*==========================================================
    Footer styles
==========================================================*/
