/*==========================================================
    General styles
==========================================================*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #CFC1B5;
    position: relative;
    /*width: 100%;*/
    align-items: center;

    margin-top: 0px;
    background: url('https://i.imgur.com/66gUmQQ.jpg');
    background-repeat: no-repeat;
    background-size: 128%;
    background-position: 50% 0;
    height: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.logo{
    text-shadow: 2px 2px 3px black;
    color: gray;
    line-height: 0.8em;
    vertical-align: baseline;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;

}

.logo.text-center{
    margin-top: 160px;
}

h4{
 color: #E5D6C9;

}

input[type=checkbox]{
    display          : inline-block;


}
/*==========================================================
    Header Login Page styles
==========================================================*/
.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;



}
input.form-control, textarea.form-control {
    border-radius: 1px;
    border-color: #CFC1B5;
    box-shadow:  1px 1px 2px black;
    padding: 2px 1px;
    width:105%;
}




/*==========================================================
    Main Content styles
==========================================================*/
.navigation{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 15%;
    color: #CFC1B5;



}

.navigation ul li{
    display: inline;
    justify-content: space-between;
}

.mainNav{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
}


table, td, th {
    width: 100%;
    border: 1.5px solid black;
    table-layout: fixed;
    display: table;
}

.wrapper a{
    align-items: center;
    align-content: center;
}

a{

    font: bold 11px Arial;
    text-decoration: none;
    background-color: #CFC1B5;
    color: #444;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;

}
input{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #fff;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;
}

ol, ul{
    list-style: none;
}


/*==========================================================
    Development styles
==========================================================*/

.listProjects{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
}


.projectList{

    display: flex;
}




/*==========================================================
    admin styles
==========================================================*/

/*========
admin - Main
 ========*/
.adminClients{

}

.adminMemos{

}

.adminMainNav{


}

/*========
admin - Clients
 ========*/
.activationPrompt{

}


.adminClientSidebar{

}


.client-list{

}


.inactiveUsers{

}

/*==========================================================
    Memo styles
==========================================================*/
.memo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
}

.memo textarea {
    width: 100%;
}


/*==========================================================
    Button styles
==========================================================*/

.btn-primary {
    background: #CFC1B5;
    border: 0px;
    border-radius: 0px;
}

.login-button{
    background-color: #CFC1B5;
    color: #444;
}



/*==========================================================
    Finance styles
==========================================================*/
.columnLeft{ float: left; width: 50%; }

.columnRight{float: right; width: 50%; }

.clientsFinance{    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;}


/*==========================================================
    Sales styles
==========================================================*/



/*==========================================================
    Footer styles
==========================================================*/
