/*==========================================================
    General styles
==========================================================*/
html{
    height: 100%;
    }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: #CFC1B5;
    position: relative;
    /*width: 100%;*/
    align-items: center;

    margin-top: 0px;
    background: url('https://i.imgur.com/66gUmQQ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    height: 68%;
    max-width: 100%;
    margin-bottom: 0px;

    overflow: hidden;
}

.logo{
    text-shadow: 2px 2px 3px black;
    color: gray;
    line-height: 0.8em;
    vertical-align: baseline;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;




}

.logo.text-center{
    margin-top: 160px;
}

h4{
 color: #E5D6C9;

}

input[type=checkbox]{
    display : inline-block;


}
/*==========================================================
    Header Login Page styles
==========================================================*/
.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;



}
input.form-control, textarea.form-control {
    border-radius: 1px;
    border-color: #CFC1B5;
    box-shadow:  1px 1px 2px black;
    padding: 2px 1px;
    width:97.99%;
}

.login-password input{
    letter-spacing: 1.5px;
}




/*==========================================================
    Main Content styles
==========================================================*/
.navigation{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 15%;
    color: #CFC1B5;



}

.bold{
    font-weight:bold;
}

.navigation ul li{
    display: inline;
    justify-content: space-between;
}

.mainNav{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
}


table, td, th {
    width: 100%;
    border: 1.5px solid black;
    table-layout: fixed;
}

.wrapper a{
    align-items: center;
    align-content: center;
}

a{

    font: bold 16px Arial;
    text-decoration: none;
    background-color: #CFC1B5;
    color: #444;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;

}
input{
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #fff;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;
}

ol, ul{
    list-style: none;

}


/*==========================================================
    Development styles
==========================================================*/

.listProjects{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
}


.projectList{

    display: flex;
}




/*==========================================================
    admin styles
==========================================================*/

/*========
admin - Main
 ========*/
.adminClients{

}

.adminMemos{

}

.adminMainNav{


}

/*========
admin - Clients
 ========*/
.activationPrompt{

}


.adminClientSidebar{

}


.client-list{

}


.inactiveUsers{

}

/*==========================================================
    Memo styles
==========================================================*/
.memo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
}

.memo textarea {
    width: 100%;
}


/*==========================================================
    Button styles
==========================================================*/

.btn-primary {

    background: #CFC1B5;
    border: 0px;
    border-radius: 0px;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;

    font: bold 16px Arial;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CFC1B5;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CFC1B5;

}



.help-btn{
    display: flex;
    justify-content: space-between;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px;





}


.ltr{
    direction: rtl;

}





/*==========================================================
    Finance styles
==========================================================*/
.columnLeft{ float: left; width: 50%; }

.columnRight{float: right; width: 50%; }

.clientsFinance{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;}


.detailsFinance{



}

/*==========================================================
    Sales styles
==========================================================*/
.spacer{
    margin-bottom: 20px
}

.sales-nav{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



.showHideClients {
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
}
.client-list {
    height: 80%;
    /* overflow: auto; */
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    display: flex;
    justify-content: flex-end;
}

.client-list ul{
    min-width: 300px;
    margin-bottom: 0;
}

.client-list::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 .client-list::-webkit-scrollbar-thumb {
     background: rgba(0,0,0,0.4);
     border-radius: 6px;
 }
.client-list::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.4)
}

.client-list ul li{
    padding-left: 28px;
    background: rgba(1,1,1,0.5);
}


.client-list-contact{
    height: 100%;
    /* overflow: auto; */
    overflow-x: hidden;
    max-width: 200px;
    overflow-y: scroll;
    right: 90%;

}

.client-list-contact::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.client-list-contact::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 6px;
}
.client-list-contact::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.4)
}
.client-list-contact ul {
    padding-left: 28px;
    background: rgba(1,1,1,0.5);
    height: 98%;
}

.add-client{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
    max-width: 100%;
    color: #CFC1B5;
    margin-bottom: 20px;
}



form.add-client{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/*==========================================================
    Footer styles
==========================================================*/
